<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Blog App</title>
</head>
<body>
  <div class="user-container relative">
    <%= link_to new_post_path(@user), class: "btn absolute new-post" do %><p>Add new post</p><% end %>
  <% @users.each do |user| %>
    <div class="users flex-spaced">
    <div class="user-photo bordered"></div>
    <div class="details bordered flex-spaced">
        <%= link_to user do %>
          <div class="user-name"><%= user.name %></div>
        <% end %>
          <div class="post-nums">Number of posts:<%= user.posts.count %> </div>
      </div>
    </div>
    <% end %>
  </div> 
</body>
</html>
