<!DOCTYPE html>
<html>
<head>
  <title>User Post</title>
</head>
<body>
  <h1>User Post</h1>
  <p>User ID: <%= @user.id %></p>
  <p>Post ID: <%= @post.id %></p>
  <!-- Display post content here -->
  <p><%= @post.text %></p>
</body>
</html>
