.uses {
  width: 100vw;
  height: auto;
}

.flex {
  display: flex;
  gap: 1rem;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2% 20% 0;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.bordered {
  outline: 2px solid black;
}

.details {
  padding: 3rem;
  width: 70%;
}

.user-photo {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-size: 30px;
}

.post-nums {
  font-size: 20px;
  font-weight: bold;
}

.bio {
  padding: 0 1rem;
  height: 20vh;
}

.flex-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bio p {
  font-size: 20px;
  font-weight: bolder;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2% 20% 0;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  padding: 2% 20% 0;
}

.custom-text-area {
  width: 200%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
}

.title-text-field {
  border: 1px solid #ccc;
  width: 200%;
  height: 1.5rem;
}

.new-post,
.new-comment {
  outline: 1px solid #ccc;
}

.new-post h1 {
  margin-left: 2rem;
}

.new-comment h1 {
  font-size: 30px;
}

.mt-4 {
  margin-top: 10%;
}

.hey {
  width: 85%;
  margin-left: 15%;
  height: 2rem;
  cursor: pointer;
}

.btn {
  text-align: center;
  width: fit-content;
  padding: 0 1rem;
  outline: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn-like {
  text-decoration: none;
  border-radius: 5%;
  bottom: 1%;
  left: 1%;
  padding: 0 1rem 0 1rem;
}

.gap-3 {
  gap: 3rem;
}

.btn * {
  font-size: 15px;
  font-weight: bolder;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-comment {
  border: 2px solid black;
  position: relative;
}

.reg * {
  font-family: 'Ubuntu', sans-serif;
  display: block;
}

.reg {
  display: flex;
  text-align: center;
  margin-top: 10%;
  justify-content: center;
  width: auto;
}

.comment-likes {
  position: absolute;
  right: 1rem;
  bottom: 0.3rem;
  font-size: 15px;
  font-weight: bolder;
}

.col-gap-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.w-30 {
  padding-top: 2%;
  padding-bottom: 1%;
}

.input {
  width: 300px;
  border: 2px solid silver;
  border-radius: 3px;
  height: 25px;
}

.pl-10 {
  padding-left: 12%;
}

.rad-10 {
  border-radius: 10px;
}

.flex-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.actions * {
  font-size: 1.5rem;
  padding: 0.6rem;
  border: 0 solid transparent;
  border-radius: 5px;
  background-color: lightslategrey;
  cursor: pointer;
}
