.uses {
  width: 100vw;
  height: auto;
}

.flex {
  display: flex;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2% 20% 0;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.my-post {
  left: 8%;
  top: 2%;
}

.new-post {
  right: 8%;
  top: 2%;
}

.scroll {
  overflow: scroll;
}

.mr-1 {
  margin-right: 1rem;
  left: 1rem;
}

.like-btn {
  padding: 0.6rem 1rem;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  color: purple;
}

.top-right-cornor {
  top: 0.1rem;
  right: 0.5rem;
}

.top-left-cornor {
  top: 0.1rem;
  left: 90%;
  height: auto;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 20px;
}

.delete-post {
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.1rem 1rem;
}

.bottom-right-cornor {
  bottom: 0.1rem;
  right: 0.5rem;
}

.bottom-left-cornor {
  bottom: 0.1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.post-choice {
  bottom: 1rem;
}

.bordered {
  outline: 2px solid black;
}

.details {
  padding: 3rem;
  width: 70%;
}

.user-photo {
  width: 10%;
  height: auto;
}

.user-name {
  font-size: 30px;
}

.post-nums {
  font-size: 20px;
  font-weight: bold;
}
