.uses {
    width: 100vw;
    height: auto;
}

.flex {
    display: flex;
}

.user-container {
    display: flex;
    flex-direction: column  ;
    gap: 1.5rem;
    padding: 2% 20% 0;
}

.flex-spaced {
    display: flex;
    justify-content: space-between;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-right-cornor {
    top: 0.1rem;
    right: 0.5rem;
}

.bordered {
    outline: 2px solid black;
}

.details {
    padding:3rem;
    width: 70%;
}

.user-photo {
    width: 10%;
    height: auto;
}

.user-name {
    font-size: 30px;
}

.post-nums {
    font-weight: 20px;
    font-weight: bold;
}