.uses {
  width: 100vw;
  height: auto;
}

.flex {
  display: flex;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2% 20% 0;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.bordered {
  outline: 2px solid black;
}

.details {
  padding: 3rem;
  width: 70%;
}

.mb-1 *{
  margin-bottom: 0.4rem;
}

.user-photo {
  width: 10%;
  height: auto;
}

.user-name {
  font-size: 30px;
}

.post-nums {
  font-size: 20px;
  font-weight: bold;
}
